.form {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    width: 500px;
    height: fit-content;
    z-index: 1003;
    padding: 20px;
    border-radius: 7px;
}

.form .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form .textatas {
    display: flex;
    width: fit-content;
    gap: 5px;
    margin-top: 15px;
    position: relative;
    white-space: nowrap;
    align-items: center;
    border: none;
}

.form .cek {
    display: flex;
    gap: 5px;
    align-items: center;
}

.form .cek a {
    opacity: 0.7;
}

.form input,
.form select {
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    color: #171717;
    border: 1px solid #ccc;
    padding: 8px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.checkboxLabel {
    display: flex;
    width: fit-content;
    gap: 5px;
    margin-top: 15px;
    position: relative;
    white-space: nowrap;
    align-items: center;
    border: none;
}

.checkboxLabel input[type="checkbox"] {
    transform: scale(1.5);
    accent-color: var(--color);
    background-color: white;
    /* warna latar */
    border: 1px solid #ccc;
    /* biar kotaknya tetap terlihat */
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    appearance: none;
    /* hilangkan style default browser */
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
}

.checkboxLabel input[type="checkbox"]:checked::after {
    content: '✔';
    color: var(--color);
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 3px;
    right: 0;
    margin: 0;
    /* left: 4px; */
    font-size: 14px;
}

.form input::placeholder {
    color: #40404094;
    font-size: 14px;
}

.form input:focus {
    border-color: var(--color);
    /* warna utama */
    box-shadow: 0 0 2px var(--color);
    /* efek bercahaya */
}

.form span {
    color: red;
}

.form button {
    font-size: 1rem;
    padding: 14px;
    background-color: var(--color);
    cursor: pointer;
    border-radius: 7px;
    font-weight: 700;
    width: 100%;
    margin-top: 15px;
    border: 0;
    color: #fff;
}

.judul {
    color: #40404094;
    font-weight: 700;
}

.form .er {
    color: red;
    margin-top: 5px;
    font-size: 0.8rem;
}


/* .form img {
    height: fit-content;
} */

/* .form a {
    color: var(--color);
    font-weight: 700;
} */

.notifikasi {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
}

.notifikasi .ikon {
    color: var(--color);
}

.notifikasi .text1 {
    color: var(--color);
    font-weight: 700;
}


.bankInfo {
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-top: 10px;
    font-size: 14px;
}

.rekening {
    font-size: 15px;
    margin: 8px 0;
    color: #333;
}

.btnWa {
    display: flex;
    align-items: center;
    margin-top: 8px;
    background: #25d366;
    color: white;
    padding: 10px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    gap: 5px;
    cursor: pointer;
}

.btnWa .textbtn {
    display: flex;
}

.btnWa a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white !important;
}

.btnWa:hover {
    background: #1ebe57;
}


.paymentMethod {
    margin-top: 15px;
    font-size: 1rem;
}

/* Container radio */
.radioGroup {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    /* jarak antar kotak */
    margin-top: 5px;
}

.radioGroup span {
    color: #171717;
}

.radioLabel {
    display: flex;
    align-items: center;
    /* padding: 0 12px; */
    /* border: 2px solid #ccc; */
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    transition: border 0.2s ease;
}

.radioLabel input[type="radio"] {
    display: none;
    /* sembunyikan radio default */
}

/* border biru saat radio dipilih */
.radioLabel input[type="radio"]:checked+span {
    border: 2px solid #007bff;
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
}


.radioLabel input[type="radio"]+span {
    border: 2px solid #007bff33;
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-weight: 700;
    /* background-color: #f0f8ff; */
    /* opsional, sedikit warna */
}

.radioLabel span {
    position: relative;
}

.radioLabel input[type="radio"]:checked+span::before {
    content: '✔';
    /* simbol centang */
    position: absolute;
    right: 10px;
    /* jarak dari kiri */
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    /* warna centang */
    font-size: 20px;
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 720px) {
    .form {
        width: 95%;
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .notifikasi {
        font-size: 0.64rem;
    }
}